.navbar {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;

  .left,
  .right,
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .svg {
    cursor: pointer;
  }

  .center {
    height: 100%;
    width: 70px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .logo {
    height: 18px;
    margin-left: 20px;
  }

  .cat {
    height: 50px;
    width: 60px;
    padding-top: 15px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .power {
    height: 35px;
    width: 35px;
    margin-right: 20px;
  }

  .user {
    height: 40px;
    width: 40px;
    margin-right: 15px;
  }
}

@media (max-width: 600px) {
  .navbar {
    .logo {
      height: 14px;
      margin-left: 10px;
    }

    .cat {
      height: 40px;
      width: 48px;
    }
  }
}
