@import "vars";

.navbar {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;

  .left,
  .right {
    display: flex;
    height: 100%;
  }

  .left {
    width: 250px;
  }

  .right {
    width: 220px;
    justify-content: flex-end;
    align-items: center;
  }

  .svg {
    cursor: pointer;
  }

  .logo {
    height: 18px;
    width: auto;
    margin-top: 30px;
    margin-left: 40px;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .user {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-right: auto;

    path {
      transition: fill 0.4s ease;
    }

    &:hover path {
      fill: $blue;
    }

    &:active path {
      fill: $pink;
    }
  }

  .power {
    height: 45px;
    width: 45px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 40px;

    path {
      transition: fill 0.2s ease;
    }

    &:hover path {
      fill: $yellow;
    }

    &:active path {
      fill: $purple;
    }
  }
}

@media (max-width: 600px) {
  .navbar {
    .logo {
      height: 20px;
      margin-top: 35px;
      margin-left: 15px;
    }

    .right {
      .user {
        scale: 1.2;
      }

      .power {
        margin-right: 20px;
        scale: 1.2;
      }
    }
  }
}
