@use "./vars" as *;
@use "sass:color";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  background-color: #1b1b1a;

  .svg {
    cursor: pointer;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .left,
  .right {
    display: flex;
    height: 100%;
  }

  .left {
    width: 250px;
    margin-left: 30px;
    .logo {
      height: 18px;
      width: auto;
      margin-top: 30px;
    }
  }

  .right {
    width: 100px;
    justify-content: center;
    align-items: center;

    .power {
      height: 45px;
      width: 45px;
      margin-top: 10px;
      margin-left: 30px;
      margin-right: 40px;

      path {
        transition: fill 0.2s ease;
      }

      &:hover path {
        fill: $yellow;
      }

      &:active path {
        fill: $purple;
      }
    }
  }
}

@media (max-width: 600px) {
  .navbar {
    .left {
      margin-left: 10px;
      .logo {
        scale: 1.1;
        margin-top: 35px;
        margin-left: 15px;
      }
    }

    .power {
      scale: 1.2;
      margin-right: 20px;
    }
  }
}
