// 🎨 Colors
$pink: #fe98cc;
$blue: #54b4f0;
$yellow: #fecc01;
$white: #fefffe;
$purple: #8e53bc;
$black: #1a1b1b;

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
